<div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
                <div class="text-center mb-4">
                    <h3 class="mb-3 font-weight-normal">
                        Let's Get Started to
                        <span class="text-danger">Play</span>
                    </h3>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="username" type="text" placeholder="Username" class="form-control"
                        [class.is-invalid]="submitted && registerForm.get('username')?.errors">
                    <label for="username">Username</label>
                    <span class="text-danger" *ngIf="submitted && registerForm.get('username')?.hasError('required')">
                        Username is required
                    </span>
                    <span class="text-danger"
                        *ngIf="submitted && 
                        (registerForm.get('username')?.hasError('minlength') || registerForm.get('username')?.hasError('maxlength'))">
                        Username must be at least 3, No Whitespace, and maximum 15 characters
                    </span>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="email" type="text" placeholder="Email" class="form-control"
                        [class.is-invalid]="submitted && registerForm.get('email')?.errors">
                    <label for="email">Email</label>
                    <span class="text-danger" *ngIf="submitted && registerForm.get('email')?.hasError('required')">
                        Email is required
                    </span>
                    <span class="text-danger" *ngIf="submitted && registerForm.get('email')?.hasError('pattern')">
                        Invalid email address
                    </span>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="password" type="password" placeholder="Password" class="form-control"
                        [class.is-invalid]="submitted && registerForm.get('password')?.errors">
                    <label for="password">Password</label>
                    <span class="text-danger" *ngIf="submitted && registerForm.get('password')?.hasError('required')">
                        Password is required
                    </span>
                    <span class="text-danger"
                        *ngIf="submitted && 
                        (registerForm.get('password')?.hasError('minlength') || registerForm.get('password')?.hasError('maxlength'))">
                        Password must be at least 6, and maximum 15 characters
                    </span>
                </div>
                <div class="form-floating" *ngIf="errorMessages.length > 0">
                    <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                </div>
                <div class="d-grid mt-4 mb-3 px-1">
                    <button class="btn btn-lg btn-info" type="submit" [disabled]="showProgress">Create Account</button>
                </div>
            </form>

            <!-- রিইউজেবল প্রোগ্রেস বার -->
            <app-progress-bar *ngIf="showProgress" [progress]="progress" [showText]="true" [type]="ProgressType.Linear" [speed]="500" [color]="'primary'" [autoHide]="true"></app-progress-bar>
        </main>
    </div>
</div>